@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmar cambio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido cambiada. Por favor, <a asp-page="./Login">has clic aquí para iniciar sesión</a>.
</p>
